[submodule "oauth2-service"]
	path = oauth2-service
	url = git@github.com:todennus/oauth2-service.git
	branch = dev
[submodule "idp"]
	path = idp
	url = git@github.com:todennus/idp.git
	branch = dev
[submodule "migration"]
	path = migration
	url = git@github.com:todennus/migration.git
	branch = dev
[submodule "docs"]
	path = docs
	url = git@github.com:todennus/docs.git
	branch = dev
[submodule "user-service"]
	path = user-service
	url = git@github.com:todennus/user-service.git
	branch = dev
[submodule "oauth2-client-service"]
	path = oauth2-client-service
	url = git@github.com:todennus/oauth2-client-service.git
	branch = dev
[submodule "file-service"]
	path = file-service
	url = git@github.com:todennus/file-service.git
	branch = dev
